<div class="col-sm-6 col-md-6 col-lg-12">
    <h5 class="pull-left">HTTP Traces</h5>
    <button class="btn btn-primart btn-sm pull-right" (click) = "exportTableToExcel()">
        <i class="fa fa-external-link" aria-hidden="true"></i>
        Export to Excel
    </button>

    <table class="table table-hover text-center" id="httptrace-table">
        <thead>
            <tr>
                <th>Time Stamp</th>
                <th>Method</th>
                <th>Time Taken(ms)</th>
                <th>Status</th>
                <th>URI</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let trace of traceList | paginate: {id: 'trace-list', itemsPerPage: pageSize, currentPage: page, totalItems: traceList?.length}" style="cursor: pointer;">
                <td>{{trace?.timestamp | date: "medium"}}</td>
                <td>{{trace?.request?.method}}</td>
                <td>{{trace?.timeTaken}}</td>
                <td [ngSwitch]="trace?.response.status">
                    <span *ngSwitchCase="'200'" class="badge badge-success">{{trace?.response.status}}</span>
                    <span *ngSwitchCase="'404'" class="badge badge-info">{{trace?.response.status}}</span>
                    <span *ngSwitchCase="'400'" class="badge badge-warning">{{trace?.response.status}}</span>
                    <span *ngSwitchCase="'500'" class="badge badge-danger">{{trace?.response.status}}</span>
                    <span *ngSwitchDefault class="badge badge-primary">{{trace?.response.status}}</span>
                </td>
                <td>{{trace?.request?.uri}}</td>
                <td>
                    <button (click)=" onSelectTrace(trace)" class="btn btn-outline-info"><i class="fa fa-eye"></i></button>
                </td>

            </tr>
        </tbody>
    </table>
    <pagination-controls class="text-center" id="trace-list" (pageChange)="page = $event" [maxSize]="10"
    [directionLinks]="true"></pagination-controls>
</div>

<!-- Trace Information Modal -->
<app-trace-modal [selectedTrace]="selectedTrace"></app-trace-modal>
